<div id="about" class="container">
  <div class="row">
    <section class="col-sm-12 col-md-6">
      <h1>Me, Myself & I</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, iure
        omnis. Illum doloribus eum nemo? Inventore esse nesciunt asperiores
        error perferendis in reprehenderit deserunt. Dicta, dignissimos. Ullam
        corporis pariatur quam!
        <em>
          Developpeur Front-End localisé à Paris. Développeur web junior motivé
          et passionné, fraîchement diplômé d'Ironhack. Mon objectif serait de
          trouver une premiere experience (stage, contrat pro, CDD) en tant que
          développeur web afin de m'accompagner dans ma progression. En plus de
          mes capacités techniques, j'apporterais mes différentes competences
          que j'ai eu au cours de mes différentes experiences de la gestion de
          projets à la relation clients.
        </em>
      </p>
    </section>
    <section class="col-sm-12 col-md-6">
      <h1>photo</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio ipsum
        minus error incidunt iusto soluta tempore deleniti, quis maxime alias?
        Sequi asperiores molestias ipsam, vel pariatur temporibus culpa nesciunt
        at.
      </p>
    </section>
  </div>
</div>
