<div class="container">
  <div class="row">
    <section class="col-sm-12 col-md-6">
      <h1>Me, Myself & I</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, iure
        omnis. Illum doloribus eum nemo? Inventore esse nesciunt asperiores
        error perferendis in reprehenderit deserunt. Dicta, dignissimos. Ullam
        corporis pariatur quam!
      </p>
    </section>
    <section class="col-sm-12 col-md-6">
      <h1>photo</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio ipsum
        minus error incidunt iusto soluta tempore deleniti, quis maxime alias?
        Sequi asperiores molestias ipsam, vel pariatur temporibus culpa nesciunt
        at.
      </p>
    </section>
  </div>
</div>
