<div id="vanta" class="container-fluid banner">
  <!-- c'est le fixed top qui me permet de fixer la nav en haut du site
  toutefois quand tu scrolls vers le bas la nav descend aussi -->
  <nav class="navbar navbar-dark navbar-expand-lg fixed-top">
    <div class="container-fluid d-flex justify-content-end">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="offcanvas offcanvas-end text-bg-dark"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>

        <nav class="navbar bg-body-tertiary">
          <div class="container-fluid">
            <span class="navbar-brand mb-0 h1 text-white">Navbar</span>

            <div class="d-flex justify-content-between w-25">
              <a class="nav-link" aria-current="page" href="#about">À propos</a>
              <a class="nav-link" href="#project">Projets</a>
              <a class="nav-link" aria-current="page" href="#">Contacts</a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </nav>

  <div class="container">
    <h1>Mina Samwail</h1>
    <p>Developpeur Front</p>
  </div>
</div>
