<section id="vanta" style="height: 80vh; width: 100%">
  <div>
    <ul>
      <li>
        <a href="#" target="_blank" rel="noopener noreferrer">github</a>
      </li>
      <li>
        <a href="#" target="_blank" rel="noopener noreferrer">parcours</a>
      </li>
      <li><a href="#" target="_blank" rel="noopener noreferrer">projet</a></li>
      <li><a href="#" target="_blank" rel="noopener noreferrer">cv</a></li>
    </ul>
  </div>
  <section class="container">
    <h1 class="">Mina Samwail</h1>
    <p>Developpeur Front</p>
  </section>
</section>
