<div id="vanta" style="height: 80vh; width: 100%">
  <div>
    <ul class="d-flex flex-row-reverse">
      <!-- <li>
        <a href="#" target="_blank" rel="noopener noreferrer">github</a>
      </li> -->
      <li>
        <a href="#" target="_blank" rel="noopener noreferrer">
          À propos de moi
        </a>
      </li>
      <li>
        <a href="#" target="_blank" rel="noopener noreferrer">Projet</a>
      </li>
      <li>
        <a href="#" target="_blank" rel="noopener noreferrer">Contact</a>
      </li>
    </ul>
  </div>
  <section class="container d-flex flex-column justify-content-center h-100">
    <h1>Mina Samwail</h1>
    <p>Developpeur Front</p>
  </section>
</div>
