.banner{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container {
    h1, p {
        color: white;
    }
} 

ul {
    list-style: none;

    li:not(:last-child) {
        padding-right: 15px;
    }
    
    a {
        text-decoration: none;
        color: white;
    }
}
